streamlit==1.38.0
langchain
langchain-openai
langchain-communit
langgraph
openai>=1.40.0
tavily-python==0.5.0
selenium==4.24.0
beautifulsoup4==4.12.3
python-dotenv==1.0.1
chromadb==0.5.5

